$white: #ffffff !default;
$gray-6: #F2F2F2 !default;
$gray-5: #E0E0E0 !default;
$gray-4: #BDBDBD!default;
$gray-3: #828282 !default;
$gray-2: #4F4F4F !default;
$gray-1: #333333 !default;
$darky: #444444 !default;
$black: #313131 !default;