//Font
$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Latin Modern Roman';
$accent-font: 'Great Vibes', cursive;

//Font Sizes
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-black: 800;

// Sizing
$desktop-width: 1200px;
$desktop-small-width: 1200px;
$tablet-width: 769px;
$mobile-width: 430px;
$small-mobile-width: 376px;
$sizing-standard: 20px;
$border-standard: 10px;
$letter-spacing: 2px;