@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Latin Modern Roman';
    src: url(../fonts/lmroman9-regular.otf) format('opentype');
}

@import "utilities/colors";
@import "utilities/variables";
@import "utilities/function";

html, 
body {
    margin:0;
    padding:0;
    height:100%;
    font-family: $primary-font;
    color: $black;
}

.subtitle {
    font-family: $accent-font;
}

.accent-font {
    font-family: $accent-font;
}
